<div class="content"> The Portuguese and the Spanish did some
impressive exploration during the <a
href="http://en.wikipedia.org/wiki/Age_of_Discovery"> Age of
discovery</a>. Here's a revelation of the highlights. </div>